<% layout("/layouts/boilerplate.ejs") -%>
 <!-- this layout means the boilerplate part 
  comes here and in the div section 
  body go inside the div-body part -->
  <body>
        <h3>Listing Details: </h3>
   <ul>
    <li><%=listing.title%></li>
    <li><%=listing.description%></li>
    <li><%= listing.price ? "₹" + listing.price.toLocaleString("en-IN") : 5000 + " /night"  %></li>
    <li><%=listing.location%></li>
    <li><%=listing.country%></li>
   </ul>
   <br>
   <a class="edit" href="/listings/<%=listing._id%>/edit">Edit</a>
   <br>
   <br>
   <form method="POST" action="/listings/<%=listing._id%>?_method=Delete">
    <button class="btn">Delete</button>
   </form>
  </body>




